@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    --dark-grey: #252934;
    --darker-grey: #616161;
    --light-grey: #f5f5f5;
}

html, body {
    margin: 0;
    height: 100%;
    color: var(--dark-grey);
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
    margin-top: 0;
}

h1 {
    font-size: 1.75rem;
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

@media(min-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.1rem;
    }
}
